.footer-social{
    display:flex;
    justify-content:right;
    align-items:right;
    gap:18px;
    margin:25px 200px;
}

.footer-social a{
    width:35px;
    height:35px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    color:#fff;
    text-decoration:none;
    transition:.35s ease;
}

.footer-social a svg{
    font-size:20px;
}

.footer-social a:hover{
    transform:translateY(-6px);
    background:linear-gradient(135deg,#ff5f6d,#ff9671);
    box-shadow:0 10px 30px rgba(255,95,109,.35);
}

@media(max-width:768px){

.footer-social{
    gap:14px;
    margin:25px 0;
}

.footer-social a{
    width:42px;
    height:42px;
}

.footer-social a svg{
    font-size:18px;
}

}

.hero-content p{
  color: #f5877d;
}
