/*==========================================
        PREMIUM WEBSITE BACKGROUND
==========================================*/

body{

    background:
   
radial-gradient(circle at 15% 15%, rgba(255,92,102,.18), transparent 28%),
radial-gradient(circle at 85% 25%, rgba(255,160,110,.15), transparent 30%),
radial-gradient(circle at 30% 85%, rgba(92,120,255,.12), transparent 30%),
linear-gradient(
180deg,
#03050d 0%,
#070B14 35%,
#0b1220 100%);
    

    color:white;

    overflow-x:hidden;

}

/*========================================*/

body::before{

    content:"";

    position:fixed;

    inset:0;

    background-image:

    linear-gradient(

        rgba(255,255,255,.025) 1px,

        transparent 1px

    ),

    linear-gradient(

        90deg,

        rgba(255,255,255,.025) 1px,

        transparent 1px

    );

    background-size:70px 70px;

    opacity:.28;

    pointer-events:none;

}

/*========================================*/

body::after{

    content:"";

    position:fixed;

    width:900px;

    height:900px;

    border-radius:50%;

    background:

    radial-gradient(

        rgba(255,95,109,.10),

        transparent

    );

    top:-350px;

    right:-300px;

    filter:blur(150px);

    pointer-events:none;

}